{% extends "base.html" %}
{% block title %}
<title>Добавление книг</title>
{% endblock %}
{% block page_content %}
<button type="button" class="navbar-toggler">
    <a class="navbar-brand" href="{% url 'entry_page' %}"><h3>Назад<br></h3></a>
</button>
<div style="padding: 100px 750px;">
    <form method="post" style="width: 1100px; padding: 4px 20px" enctype="multipart/form-data">


        {% csrf_token %}
        <h5 style="color: white; padding: 4px 20px;">Название книги</h5>
        <div class="form-group">
            {{ form.book_name }}
        </div>

        <h5 style="color: white; padding: 4px 20px;">Имя автора</h5>
        <div class="form-group">
            {{ form.author_name }}
        </div>

        <h5 style="color: white; padding: 4px 20px;">Фамилия автора</h5>
        <div class="form-group">
            {{ form.author_surname }}
        </div>

        <h5 style="color: white; padding: 4px 20px;">Отчество автора</h5>
        <div class="form-group">
            {{ form.author_patronymic }}
        </div>


        <br>
        <br>
        <button type="submit" class="btn btn-primary">
            Добавить
        </button>


    </form>

</div>


{% endblock %}