{% extends "base.html" %}
{% block title %}
<title>Библиотека</title>
{% endblock %}
{% block page_content %}
<button type="button" class="navbar-toggler" >
                        <a class="navbar-brand" href="{% url 'registration'%}"><h3>Зарегистрироваться<br></h3></a>
                    </button>

<button type="button" class="navbar-toggler" >
                        <a class="navbar-brand" href="{% url 'creation'%}"><h3>Добавить книгу<br></h3></a>
                    </button>

<div style="margin: 80px;">
    {% for user in users %}

    <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                        <a class="navbar-brand" href="{% url 'home_page' user.pk %}"><h3>{{ user.surname}}&nbsp;{{ user.name}}&nbsp;{{ user.patronymic}}<br></h3></a>
                    </button>
    {% endfor %}



</div>


{% endblock %}